In [1]:
import chardet
import pandas as pd
import numpy as np

## Loading data...
* # **Global Power Plants** around the world

In [2]:
path = '../globalpowerplantdatabasev120/global_power_plant_database.csv'

raw_data = open(path, 'rb').read()
result = chardet.detect(raw_data)
encoding = result['encoding']
encoding

'utf-8'

In [3]:
power_plants = pd.read_csv(path, encoding=encoding)

## First look!

In [4]:
power_plants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29910 entries, 0 to 29909
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   country                   29910 non-null  object
 1   country_long              29910 non-null  object
 2   name                      29910 non-null  object
 3   gppd_idnr                 29910 non-null  object
 4   capacity_mw               29910 non-null  float64
 5   latitude                  29910 non-null  float64
 6   longitude                 29910 non-null  float64
 7   primary_fuel              29910 non-null  object
 8   other_fuel1               1963 non-null   object
 9   other_fuel2               303 non-null    object
 10  other_fuel3               104 non-null    object
 11  commissioning_year        16303 non-null  float64
 12  owner                     19531 non-null  object
 13  source                    29895 non-null  object
 14  url                       29892 non-null  object
 15  geolocation_source        29491 non-null  object
 16  wepp_id                   16381 non-null  object
 17  year_of_capacity_data     13743 non-null  float64
 18  generation_gwh_2013       6996 non-null   float64
 19  generation_gwh_2014       7440 non-null   float64
 20  generation_gwh_2015       8144 non-null   float64
 21  generation_gwh_2016       8971 non-null   float64
 22  generation_gwh_2017       9213 non-null   float64
 23  estimated_generation_gwh  21791 non-null  float64
dtypes: float64(11), object(13)
memory usage: 5.5+ MB

In [5]:
power_plants.shape

(29910, 24)

In [6]:
power_plants.describe()

,capacity_mw,latitude,longitude,commissioning_year,year_of_capacity_data,generation_gwh_2013,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,estimated_generation_gwh
count,29910.000000,29910.000000,29910.000000,16303.000000,13743.000000,6996.000000,7440.000000,8144.000000,8971.000000,9213.000000,21791.000000
mean,186.294810,32.497558,-12.458680,1995.486227,2016.860001,689.625437,664.840134,664.270784,583.622877,579.524723,847.036474
std,525.703572,23.654472,76.978265,23.525537,1.195205,2330.869715,2258.351290,2304.225386,2097.603620,2063.070235,4067.434967
min,1.000000,-77.847000,-179.977700,1896.000000,2000.000000,-947.600000,-989.619000,-864.428000,-768.620000,-934.944000,0.000000
25%,4.774430,28.863475,-79.211275,1986.000000,2017.000000,2.167000,2.157000,2.350250,2.380500,3.202000,10.082961
50%,18.900000,40.071250,-3.746700,2005.000000,2017.000000,27.033000,23.005000,22.094000,17.862000,20.462000,53.417041
75%,100.000000,47.134575,24.931050,2012.063866,2017.000000,250.600500,224.955250,238.437917,187.084835,192.567000,339.874490
max,22500.000000,71.292000,179.388700,2018.000000,2018.000000,50834.000000,32320.917000,59546.865000,32377.477000,35116.000000,450562.692350

## Looking for nulls values...

In [7]:
nulls = power_plants.isnull().sum()
nulls

country                         0
country_long                    0
name                            0
gppd_idnr                       0
capacity_mw                     0
latitude                        0
longitude                       0
primary_fuel                    0
other_fuel1                 27947
other_fuel2                 29607
other_fuel3                 29806
commissioning_year          13607
owner                       10379
source                         15
url                            18
geolocation_source            419
wepp_id                     13529
year_of_capacity_data       16167
generation_gwh_2013         22914
generation_gwh_2014         22470
generation_gwh_2015         21766
generation_gwh_2016         20939
generation_gwh_2017         20697
estimated_generation_gwh     8119
dtype: int64

## Percentage of missing values:
- ### Overall

In [8]:
total_cells = np.product(power_plants.shape)
nulls_values = nulls.sum()
percent_missing = (nulls_values / total_cells) * 100
percent_missing

35.99674022066199

- ### Per column

In [9]:
column_missing = power_plants.isnull().sum() * 100 / power_plants.shape[0]
column_missing

country                      0.000000
country_long                 0.000000
name                         0.000000
gppd_idnr                    0.000000
capacity_mw                  0.000000
latitude                     0.000000
longitude                    0.000000
primary_fuel                 0.000000
other_fuel1                 93.436978
other_fuel2                 98.986961
other_fuel3                 99.652290
commissioning_year          45.493146
owner                       34.700769
source                       0.050150
url                          0.060181
geolocation_source           1.400869
wepp_id                     45.232364
year_of_capacity_data       54.052156
generation_gwh_2013         76.609829
generation_gwh_2014         75.125376
generation_gwh_2015         72.771648
generation_gwh_2016         70.006687
generation_gwh_2017         69.197593
estimated_generation_gwh    27.144768
dtype: float64

In [10]:
power_plants.columns

Index(['country', 'country_long', 'name', 'gppd_idnr', 'capacity_mw',
       'latitude', 'longitude', 'primary_fuel', 'other_fuel1', 'other_fuel2',
       'other_fuel3', 'commissioning_year', 'owner', 'source', 'url',
       'geolocation_source', 'wepp_id', 'year_of_capacity_data',
       'generation_gwh_2013', 'generation_gwh_2014', 'generation_gwh_2015',
       'generation_gwh_2016', 'generation_gwh_2017',
       'estimated_generation_gwh'],
      dtype='object')

## New datasets from the original one:
1. #### Clean data set with the following columns: ['country', 'country_long', 'name', 'gppd_idnr', 'capacity_mw', 'latitude', 'longitude', 'primary_fuel', 'estimated_generation_gwh']

In [11]:
save_path_1 = '../globalpowerplantdatabasev120/global_power_plant.csv'

In [12]:
power_plants[['country', 'country_long', 'name', 'gppd_idnr', 
              'capacity_mw', 'latitude', 'longitude', 'primary_fuel',
              'estimated_generation_gwh']].to_csv(save_path_1)