In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.pyplot import show
%matplotlib inline

# Global Power Plants

In [3]:
# global_power_plants_path = '/Users/gerardovitaleerrico/Documents/DataCamp/globalpowerplantdatabasev120/global_power_plants_clean.csv'
# cols = list(pd.read_csv(global_power_plants_path, nrows=1))
# cols = [i for i in cols if 'Unnamed' not in i]
# power_plants = pd.read_csv(global_power_plants_path, usecols=cols, index_col=['country'])

## Power plants in Spain

In [11]:
spain_plants_path = '/Users/gerardovitaleerrico/Documents/DataCamp/globalpowerplantdatabasev120/spain_power_plants.csv'
cols = list(pd.read_csv(spain_plants_path, nrows=1))
cols = [i for i in cols if 'Unnamed' not in i]
spain_pp = pd.read_csv(spain_plants_path, usecols=cols) # , index_col=['primary_fuel']

In [12]:
spain_pp.head()

,country,country_long,name,gppd_idnr,capacity_mw,latitude,longitude,primary_fuel,estimated_generation_gwh
0,ESP,Spain,ABONO 2,WRI1006157,877.660,43.5528,-5.7231,Coal,4526.039693
1,ESP,Spain,ACECA GRUPO 4,WRI1006159,758.740,39.9427,-3.8548,Gas,1371.142573
2,ESP,Spain,ADS JUNEDA 2,WRI1006161,15.000,41.5485,0.8245,Waste,53.033856
3,ESP,Spain,AGREDA,WRI1006162,18.000,41.8559,-1.9224,Wind,82.579397
4,ESP,Spain,AGREDA,WRI1006163,16.334,41.8559,-1.9224,Waste,57.750334

## Geodata collected using google geolocalization API

In [13]:
geo_path = '/Users/gerardovitaleerrico/Documents/DataCamp/globalpowerplantdatabasev120/geo_df.csv'
cols = list(pd.read_csv(geo_path, nrows=1))
cols = [i for i in cols if 'Unnamed' not in i]
geo_df = pd.read_csv(geo_path, usecols=cols)

## AirQuality datacollected using weatherbit API

In [14]:
air_path = '/Users/gerardovitaleerrico/Documents/DataCamp/globalpowerplantdatabasev120/air_df.csv'
cols = list(pd.read_csv(air_path, nrows=1))
cols = [i for i in cols if 'Unnamed' not in i]
air_df = pd.read_csv(air_path, usecols=cols)

In [15]:
air_df.head()

    aqi      pm10       co        o3   so2   no2
0  56.0  27.00000  626.667  27.25000  7.00  24.0
1  76.0  39.00000  700.000   4.94333  1.00  52.0
2  23.0  25.00000  250.000  21.32360  1.00   1.0
3  23.0   3.11571  375.000  50.00000  2.05   6.8
4  23.0   3.11571  375.000  50.00000  2.05   6.8

In [51]:
spain_geo = spain_pp.merge(geo_df, how='inner', left_on=spain_pp.index, right_on=geo_df.index)

In [52]:
spain_geo.drop(columns=['key_0'], inplace=True)

In [53]:
spain_geo_air = spain_geo.merge(air_df, how='inner', left_on=spain_pp.index, right_on=geo_df.index)

In [54]:
spain_geo_air = spain_geo_air.iloc[0:480]

In [55]:
spain_geo_air.columns

Index(['key_0', 'country', 'country_long', 'name', 'gppd_idnr', 'capacity_mw',
       'latitude', 'longitude', 'primary_fuel', 'estimated_generation_gwh',
       'locality', 'city', 'state', 'aqi', 'pm10', 'co', 'o3', 'so2', 'no2'],
      dtype='object')