In [2]:
import pandas as pd
import numpy as np

In [3]:
path = '/Users/gerardovitaleerrico/Documents/DataCamp/globalpowerplantdatabasev120/global_power_plant.csv'
cols = list(pd.read_csv(path, nrows=1))
cols = [i for i in cols if 'Unnamed' not in i]
power_plants = pd.read_csv(path, usecols=cols, index_col=['country'])

In [4]:
power_plants.head()

,country_long,name,gppd_idnr,capacity_mw,latitude,longitude,primary_fuel,estimated_generation_gwh
country,,,,,,,,
AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,GEODB0040538,33.00,32.3220,65.1190,Hydro,NaN
AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,GEODB0040541,66.00,34.5560,69.4787,Hydro,NaN
AFG,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,GEODB0040534,100.00,34.6410,69.7170,Hydro,NaN
AFG,Afghanistan,Nangarhar (Darunta) Hydroelectric Power Plant ...,GEODB0040536,11.55,34.4847,70.3633,Hydro,NaN
AFG,Afghanistan,Northwest Kabul Power Plant Afghanistan,GEODB0040540,42.00,34.5638,69.1134,Gas,NaN

In [5]:
spain_pp = power_plants[power_plants.index.isin(['ESP'])]

In [6]:
spain_pp.head()

,country_long,name,gppd_idnr,capacity_mw,latitude,longitude,primary_fuel,estimated_generation_gwh
country,,,,,,,,
ESP,Spain,ABONO 2,WRI1006157,877.660,43.5528,-5.7231,Coal,4526.039693
ESP,Spain,ACECA GRUPO 4,WRI1006159,758.740,39.9427,-3.8548,Gas,1371.142573
ESP,Spain,ADS JUNEDA 2,WRI1006161,15.000,41.5485,0.8245,Waste,53.033856
ESP,Spain,AGREDA,WRI1006162,18.000,41.8559,-1.9224,Wind,82.579397
ESP,Spain,AGREDA,WRI1006163,16.334,41.8559,-1.9224,Waste,57.750334

In [7]:
path = '/Users/gerardovitaleerrico/Documents/DataCamp/globalpowerplantdatabasev120/spain_power_plants.csv'
spain_pp.to_csv(path)